/**
Estilos generales +1200px
Breakpoints para responsive Desing Desktop First:
1200px   1024px  768px  480px   320px
75em     64em    48em   37.5em  20em 

Para probar el Responsive 
http://mattkersley.com/responsive/
http://www.responsinator.com/
**/

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

*,
* ::before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  color: red;
  font-size: inherit;
}

a:hover {
  color: #c2c2c2;
}

figcaption {
  padding: 1rem;
}

img {
  max-width: 100%;

  height: auto;
}

.header {
  padding: 1rem;
  color: #fff;
  background-color: #222;
}

.header img,
.responsible img {
  max-width: 50%;
}

.responsible {
  display: block;
  margin: auto;
  font-size: 0;
}

.responsible figure {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}

@media screen and (max-width: 75em) {
  .header {
    background-color: green;
  }
  .responsible {
    display: grid;
    grid-template-columns: repeat(2, 25%);
    justify-content: center;
  }
}

@media screen and (max-width: 65em) {
  .header {
    background-color: red;
  }
  .responsible {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
}

@media screen and (max-width: 48em) {
  .header {
    background-color: orange;
  }

  body {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 37.5em) {
  .header {
    background-color: palevioletred;
  }
}

@media screen and (max-width: 30em) {
  .header {
    background-color: blue;
  }
}

@media screen and (max-width: 20em) {
  .header {
    background-color: yellowgreen;
  }
}
