.container{
    display: grid;
    grid-template-columns: 25% 200px 25%;
   /** grid-template-rows: 40% 25px **/
   /**grid-template: filas / columnas;**/
   /**grid-template: 300px 100px / 200px 300px;****/
}

.item{
    background-color: aqua;
    padding: 10px;
    border: 1px solid red;
}

